
// Fonts
@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara');

// Variables
@import 'variables';

@import "card";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Hind Vadodara', sans-serif;
}

main {
  min-height: 87vh;
}

.footer {
  width: 100%;
  background-color: #4c515c;
  color: #fff;
  padding: 30px;
}

header .navbar-laravel {
  background-color: #005792;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  .nav-link, .navbar-brand {
    color: #fff !important;
  }
}

.btn-github {
  background-color: #333333;
  color: #fff;
}

.btn-github:hover {
  background-color: #4C515C;
  color: #fff;
}

.btn-facebook {
  background-color: #4267b2;
  color: #fff;
}

.btn-facebook:hover {
  background-color: #3881C4;
  color: #fff;
}

.card-header {
  text-align: center;
}

.btn-course, .badge-cat{
  background-color: #26baee;
  color: #FFF;
}
